.completed {
    text-decoration: line-through;
  }
  
  /* .task-text {
    flex-grow: 1; 
  }
  .container {
    background-color: #f8f9fa; 
    background-size: cover; 
    background-position: center;
  }
   */